In [25]:
import pandas as pd

file_path = "./exam_sample.csv"

# 데이터프레임 변환
df = pd.read_csv(file_path)
df

   student_no class  science  english  math sex
0           1     A       50       98    50   m
1           2     A       60       97    60   w
2           3     A       78       86    45   w
3           4     A       58       98    30   m
4           5     B       65       80    90   w
5           6     B       98       89    50   m
6           7     B       45       90    80   m
7           8     B       25       78    90   w
8           9     C       15       98    20   w
9          10     C       45       93    50   w

In [22]:
# 반별 로 그룹화(A,B,C반)
# 반별 그룹 객체의 생성
df1 = df.groupby(['class'])
df1

In [23]:
df1.groups # 그룹 객체의 확인

{'A': [0, 1, 2, 3], 'B': [4, 5, 6, 7], 'C': [8, 9]}

In [4]:
df1.get_group('B')

   student_no class  science  english  math sex
4           5     B       65       80    90   w
5           6     B       98       89    50   m
6           7     B       45       90    80   m
7           8     B       25       78    90   w

In [30]:
# 반별 그룹 평균 확인
df.groupby('class').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [32]:
df.groupby(['class', 'math']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [13]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [31]:
df.groupby(['class', 'sex']).mean()

           student_no  science  english  math
class sex
A     m           2.5     54.0     98.0  40.0
      w           2.5     69.0     91.5  52.5
B     m           6.5     71.5     89.5  65.0
      w           6.5     45.0     79.0  90.0
C     w           9.5     30.0     95.5  35.0

In [15]:
df['math'].groupby(df['class']).mean()

class
A    46.25
B    77.50
C    35.00
Name: math, dtype: float64

In [16]:
df.groupby('class')['math'].mean()

class
A    46.25
B    77.50
C    35.00
Name: math, dtype: float64

In [17]:
df.groupby('class')['math'].count()

class
A    4
B    4
C    2
Name: math, dtype: int64

In [18]:
df['math'].groupby(df['sex']).mean()

sex
m    52.500000
w    59.166667
Name: math, dtype: float64

In [20]:
sexgroup = df.groupby('sex')

print(sexgroup)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001A0C3D26EB0>

In [ ]:
male=sexgroup.get_group('M')
subset = male[['sex']]