# 클래스와 객체

* Class 정의

In [2]:
class Car:
    def drive(self):
        self.speed = 60
        
myCar = Car()

myCar.speed = 0
myCar.model = "E-Class"
myCar.color = "blue"
myCar.year = "2022"

myCar.drive()

* 생성자

In [3]:
class Car:
    def __init__(self, speed, color, model):
        self.speed = speed
        self.color = color
        self.model = model
        
    def drive(self):
        self.speed = 60

dadCar = Car(0, "silver", "A6")
momCar = Car(0, "white", "520d")
myCar = Car(0, "blue", "E-Class")

* 클래스와 객체

In [6]:
animals = ["lion", "tiger", "cat", "dog"]
animals.sort()
animals

['cat', 'dog', 'lion', 'tiger']

In [8]:
animals.append("rabbit")
animals

['cat', 'dog', 'lion', 'tiger', 'rabbit', 'rabbit']

In [9]:
animals.reverse()
animals

['rabbit', 'rabbit', 'tiger', 'lion', 'dog', 'cat']

# 모듈과 라이브러리

* 모듈

In [10]:
# filename: my_func.py
def mf_print(msg, n=1):
    print(msg * n)

* 모듈의 import 방법의 예

In [1]:
import my_func
my_func.mf_print("my_func was imported", 3) # my_func 모듈의 mf_print() 함수 호출

my_func was importedmy_func was importedmy_func was imported

In [2]:
import my_func as mf
mf.mf_print("[alias]", 5) # mf라는 별명을 사용해서 메세지를 5회 반복 출력

[alias][alias][alias][alias][alias]

In [3]:
from my_func import mf_print
mf_print("-no module name-", 2) # mf_print()를 호출할 때 my_func.을 사용안해도 됨

-no module name--no module name-

In [4]:
from my_func import *
mf_print("-no module name-", 2)

-no module name--no module name-

# 변수

* 변수(variable)

In [7]:
weight = 78.2
print(weight)

78.2

* random 모듈

In [2]:
import random
random.random()             # 0 이상 1 미만의 임의의 실수를 반환

0.3801281806077208

In [9]:
random.random()             # 이 함수는 매번 다른 실수를 반환

0.9700639784366238

In [10]:
random.randint(1, 7)        # 1 이상 7 이하(7을 포함)의 임의의 정수를 반환

2

In [70]:
random.randrange(7)         # 0 이상 7 미만(7을 포함하지 않음)의 임의의 정수를 반환

0

In [46]:
random.randrange(1, 7)      # 1 이상 7 미만(7을 포함안함)의 임의의 정수를 반환

2

In [47]:
random.randrange(0, 10, 2)  # 0, 2, 4, 8 중(10은 포함 안함) 하나를 반환함

8

In [16]:
lst = [10, 20, 30, 40, 50]  # 여러개의 값을 가지는 리스트를 생성함
random.shuffle(lst)         # lst 리스트의 순서를 무작위로 섞음
lst

[20, 10, 30, 50, 40]

In [17]:
random.choice(lst)          # lst 리스트의 원소 중 무작위로 하나를 고름

40

* math 모듈의 예

In [18]:
import math
math.pow(3, 3)          # 3의 3 제곱

27.0

In [19]:
math.fabs(-99)          # -99의 실수 절대값

99.0

In [20]:
math.log(2.71828)       # 자연로그

0.999999327347282

In [21]:
math.log(100, 10)       # 로그 10을 밑으로 하는 100값

2.0

In [22]:
math.pi                 # 원주율

3.141592653589793

In [23]:
math.sin(math.pi / 2.0)   # sin() 함수의 인자로 PI/2.0을 넣어보자

1.0

# 조건과 제어

* 조건문

# 함수

* 함수의 정의와 호출

In [3]:
def print_address():
    print("경상북도")
    print("울릉군 울릉읍")
    print("독도리 산 1-96번지")
    
print_address()

경상북도
울릉군 울릉읍
독도리 산 1-96번지

* 함수의 인자와 매개변수

In [4]:
def print_address(name):
    print("서울특별시 종로구 1번지")
    print("파이썬 빌딩 7층")
    print(name)
    
print_address("홍길동")
print_address("널널한 교수")

서울특별시 종로구 1번지
파이썬 빌딩 7층
홍길동
서울특별시 종로구 1번지
파이썬 빌딩 7층
널널한 교수

* 람다(lambda) 함수

In [5]:
def adder1(a,b):
    return a+b

adder2 = lambda a,b: a+b

In [6]:
print(adder1(3,4))
print(adder2(3,4))

7
7

In [9]:
one_list = [1, 2, 3, 4, 5]

double_list = lambda list_input: [item * 2 for item in list_input]

double_list(one_list)

[2, 4, 6, 8, 10]

# 데이터 : 리스트, 튜플

* 리스트의 원소값 변경

In [16]:
slist = ["Kim", 178.9, "Lee", 165.8, "Park", 188.4]

In [17]:
slist[2:4] = ["Jung", 180.1]
slist

['Kim', 178.9, 'Jung', 180.1, 'Park', 188.4]

In [18]:
slist[3] = 170.5
slist

['Kim', 178.9, 'Jung', 170.5, 'Park', 188.4]

In [19]:
slist.insert(4, "Hong")
slist.insert(5, 177.7)
slist

['Kim', 178.9, 'Jung', 170.5, 'Hong', 177.7, 'Park', 188.4]

In [20]:
slist.index(177.7)

5

In [21]:
slist.append(177.7)
slist.index(177.7)

5

In [22]:
slist

['Kim', 178.9, 'Jung', 170.5, 'Hong', 177.7, 'Park', 188.4, 177.7]