In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.1.1-cp39-cp39-win_amd64.whl (10.8 MB)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\python39\lib\site-packages (from pandas) (1.26.1)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aorus\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\aorus\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Python39\python.exe -m pip install --upgrade pip' command.

# 데이터의 운영(Pandas)

## 시리즈(Series)

### 시리즈의 생성 : 리스트

In [4]:
import pandas as pd
# 리스트로 Series 생성
list_data = ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey']
sd1 = pd.Series(list_data, index=['0', '1', '2', '3', '4'])
# 데이터 확인
sd1

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

### 시리즈의 생성 : 딕셔너리

In [5]:
import pandas as pd
# 딕셔너리로 Series 생성
dict_data = {'a':1, 'b':2, 'c':3}
sd2 = pd.Series(dict_data)
# 데이터 확인
sd2

a    1
b    2
c    3
dtype: int64

### 시리즈의 생성 : 튜플

In [6]:
import pandas as pd
# 튜플로 Series 생성
tup_data = ('이순신', '1991-03-15', '남')
sd3 = pd.Series(tup_data, index=['이름', '생년월일', '성별'])
# 데이터 확인
sd3

이름             이순신
생년월일    1991-03-15
성별               남
dtype: object

## 데이터프레임(DataFrame)

### 데이터프레임의 생성 : 리스트

In [9]:
# 라이브러리 불러오기
import pandas as pd

# 리스트로 데이터프레임 생성 - 중첩된 리스트 사용
df1 = pd.DataFrame([['Dog', '7'], ['Cat', '9'], ['Tiger', '2'], ['Lion', '3'], ['Monkey', '1']],
                   index=['0', '1', '2', '3', '4'], 
                   columns=['동물', '나이'])

# 타입 확인
print(type(df1))
# 데이터 확인
print(df1)

<class 'pandas.core.frame.DataFrame'>
       동물 나이
0     Dog  7
1     Cat  9
2   Tiger  2
3    Lion  3
4  Monkey  1

### 데이터프레임의 생성 : 딕셔너리

In [2]:
# 라이브러리 불러오기
import pandas as pd

# 딕셔너리로 데이터프레임 생성 - 딕셔너리안의 리시트
dict_data = {'동물':['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],'나이':[7, 9, 2, 3 ,1]}
df2 = pd.DataFrame(dict_data)

# 타입 확인
print(type(df2))
# 데이터 확인
print(df2)

<class 'pandas.core.frame.DataFrame'>
       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

### 데이터 요약 정보의 확인

In [4]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.0-py3-none-any.whl (294 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python39\lib\site-packages (from seaborn) (1.26.1)
Collecting matplotlib!=3.6.1,>=3.3
  Downloading matplotlib-3.8.1-cp39-cp39-win_amd64.whl (7.6 MB)
Requirement already satisfied: pandas>=1.2 in c:\python39\lib\site-packages (from seaborn) (2.1.1)
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.5-cp39-cp39-win_amd64.whl (56 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.1.1-cp39-cp39-win_amd64.whl (435 kB)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
Collecting importlib-resources>=3.2.0
  Downloading importlib_resources-6.1.0-py3-none-any.whl (33 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.43.1-cp39-cp39-win_amd64.whl (2.1 MB)
Collecting pillow>=8
  Downloading Pillow-10.1.0-cp39-cp39-win_amd64.whl (2.6 MB)
Requirement already satisfied: packaging>=20.0 in c:\users\aorus\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aorus\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: zipp>=3.1.0 in c:\users\aorus\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.3->seaborn) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\python39\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python39\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aorus\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.43.1 importlib-resources-6.1.0 kiwisolver-1.4.5 matplotlib-3.8.1 pillow-10.1.0 pyparsing-3.1.1 seaborn-0.13.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python39\lib\site-packages)
WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
# 관련 라이브러리 불러오기
import pandas as pd     # 판다스
import seaborn as sns   # 시본
# 데이터 준비 시본에 내장된 팁 데이터
tips = sns.load_dataset('tips') # 팁 데이터
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [1]:
import pandas as pd
tips = pd.read_csv('tips.csv')
tips

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1       10.34  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [7]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  244 non-null    int64
 1   total_bill  244 non-null    float64
 2   tip         244 non-null    float64
 3   sex         244 non-null    object
 4   smoker      244 non-null    object
 5   day         244 non-null    object
 6   time        244 non-null    object
 7   size        244 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

## 상위 하위 데이터 추출

In [8]:
#데이터프레임에서 BM' 열의 상위 5개 데이터 추출
tips.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
#데이터프레임에서 BM' 열의 하위 3개 데이터 추출
tips.tail(3)

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

## 인덱싱

In [11]:
tips1 = tips.drop([2])
tips1

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1       10.34  1.66    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
5             5       25.29  4.71    Male     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 8 columns]

In [12]:
tips1.iloc[2]

Unnamed: 0         3
total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [16]:
tips1.loc[2]

KeyError: 2

In [14]:
tips1=tips1.drop([2])

KeyError: '[2] not found in axis'

In [7]:
# 특정조건 선택시 'isin' 함수 사용
# 일요일 이면 True
tips[tips['day'].isin(['Sun'])]

     Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0             0       16.99  1.01  Female     No  Sun  Dinner     2
1             1       10.34  1.66    Male     No  Sun  Dinner     3
2             2       21.01  3.50    Male     No  Sun  Dinner     3
3             3       23.68  3.31    Male     No  Sun  Dinner     2
4             4       24.59  3.61  Female     No  Sun  Dinner     4
..          ...         ...   ...     ...    ...  ...     ...   ...
186         186       20.90  3.50  Female    Yes  Sun  Dinner     3
187         187       30.46  2.00    Male    Yes  Sun  Dinner     5
188         188       18.15  3.50  Female    Yes  Sun  Dinner     3
189         189       23.10  4.00    Male    Yes  Sun  Dinner     3
190         190       15.69  1.50    Male    Yes  Sun  Dinner     2

[76 rows x 8 columns]

In [6]:
# 팁을 1달러 지불한 고객
tips[tips['tip'].isin([1])]

     Unnamed: 0  total_bill  tip     sex smoker  day    time  size
67           67        3.07  1.0  Female    Yes  Sat  Dinner     1
92           92        5.75  1.0  Female    Yes  Fri  Dinner     2
111         111        7.25  1.0  Female     No  Sat  Dinner     1
236         236       12.60  1.0    Male    Yes  Sat  Dinner     2

In [2]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
print(s1)
print(s2)

a    0
b    1
dtype: int64
c    2
d    3
e    4
dtype: int64

In [ ]:
df1 = pd.Dataframe([['Dog', 3], ['Cat', 2], ['Bird', 10]], columns=['동물', '나이'])
df2 = pd.DataFrame([['초원', '푸른색'], ['사막', '노란색'], ['숲', '초록색']], columns=['서식지', '색깔'])